<div class="h-full">
	<div class="align-items-center flex flex-column h-full justify-content-center forbidden">
		<svg-icon src="assets/images/403-error-forbidden.svg"></svg-icon>
		<h3 class="text-black-alpha-90 text size-20 font-bold">Acesso Proibido</h3>
		<p class="text text-gray-600 size-16 secondary text-center line_break">
			Não tem permissão para acessar esta página.
		</p>
		<p-button label="{{'error.backBtn' | translate}}" styleClass="text size-12 mt-4 font-medium p-button p-component"
		[style]="{'width': '280px', 'height':'32px'}" routerLink="/dashboard">
		</p-button>
	</div>
</div>