<div class="h-full">
	<div class="align-items-center flex flex-column h-full justify-content-center">
		<svg-icon src="assets/images/500-page-error.svg"></svg-icon>
		<h3 class="text-black-alpha-90 text size-20 font-bold">Algo deu errado</h3>
		<p class="text text-gray-600 size-16 secondary text-center line_break">
			Verifique sua conexão ou tente novamente.
		</p>
		<p-button label="Voltar" 
			styleClass="text size-12 mt-4 font-medium p-button p-component"
			[style]="{'width': '280px', 'height':'32px'}" routerLink="/dashboard">
		</p-button>
	</div>
</div>
