<nav id="navbar">
	<ul class="navbar-items flex flex-column justify-content-center align-content-center">
		<li class="navbar-logo flex justify-content-start align-content-center">
			<div class="navbar-item-inner flex justify-content-center align-items-center w-full">
				<img src="assets/images/revalida-success-white.png" alt="Image" height="50">
			</div>
		</li>
		<li class="navbar-item flex justify-content-start align-content-center">
			<a class="navbar-item-inner link flex justify-content-start align-content-center py-3" routerLink="/">
				<div class="navbar-item-inner-icon-wrapper flex justify-content-center align-content-center">
					<i class="pi pi-home"></i>
				</div>
				<span class="link-text">Inicio</span>
			</a>
		</li>
	</ul>
</nav>
