<p-dataView #dv [value]="dataListTemp" [layout]="layout" [paginator]="true" [rows]="10" [emptyMessage]="'Nenhum registro foi encontrado.'">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row justify-content-between gap-2">
            <p-dropdown [options]="specialties" [(ngModel)]="selectedSpecialty" optionLabel="label" [filter]="true" filterBy="label"
                [showClear]="true" placeholder="Selecione a especialidade" (onChange)="changeSpecialty($event)">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedSpecialty">
                        <div>{{ selectedSpecialty.label }}</div>
                    </div>
                </ng-template>
                <ng-template let-specialty pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ specialty.label }}</div>
                    </div>
                </ng-template>
            </p-dropdown>

            <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" (onChange)="changeStateOption($event)">
                <ng-template let-item>
                    <i [class]="item.icon"></i>
                </ng-template>
            </p-selectButton>
        </div>
    </ng-template>
    <ng-template pTemplate="list" let-products>
        <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let product of products; let first = first; let ri = index">
                <div class="flex flex-column md:flex-row md:align-items-start p-3 gap-2 border-top-1 border-gray-200">
                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                        [src]="'/assets/images/content/' + product.image" [alt]="product.name" />
                    <div
                        class="flex flex-column md:flex-row justify-content-between align-items-center md:align-items-start flex-1 gap-2">
                        <div class="flex flex-column align-items-center md:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                    <span class="font-semibold">{{ product.category }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="flex md:flex-column align-items-center md:align-items-end gap-3 md:gap-2">
                            <button pButton icon="mdi mdi-folder-table mdi-18px"
                                label="Ver Contenido"
                                [disabled]="ri !==0 && user.role.includes('Testing')"
                                (click)="viewData($event, product.link)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="grid" let-products>
        <div class="grid grid-nogutter">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let product of products; let first = first; let ri = index">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.category }}</span>
                        </span>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img class="w-9 shadow-2 border-round"
                            [src]="'/assets/images/content/' + product.image"
                            [alt]="product.name" />
                        <div class="text-2xl font-bold">{{ product.name }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <button pButton icon="mdi mdi-folder-table mdi-18px"
                            label="Ver Contenido"
                            [disabled]="ri !==0 && user.role.includes('Testing')"
                            (click)="viewData($event, product.link)"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
