<!--<p-toast class="custom-toast"></p-toast>
<p-toast position="bottom-right" key="version" (onClose)="closeToast()" styleClass="version">
	<ng-template let-message pTemplate="message">
		<div class="align-items-center flex w-full">
			<i class="mdi mdi-update" style="font-size: 3rem"></i>
			<h6 class="flex-1 my-0 text-center">{{'app.version' | translate}}</h6>
		</div>
	</ng-template>
</p-toast>-->
@if(user) {
    <div class="bg-blue-500 py-3 px-5 flex align-items-center justify-content-between relative lg:static border-bottom-1 surface-border shadow-2">
        <div class="home-link">
            <a class="flex gap-2 text-white" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="pi pi-home"></i>Inicio
            </a>
        </div>
        <div class="profile-user text-white flex gap-2 align-items-center ">
            Bem-vindo {{user.first_name}} <p-button icon="mdi mdi-logout" styleClass="p-button-rounded h-2rem w-2rem" (onClick)="logout()" pTooltip="Fechar sessão"></p-button>
        </div>
    </div>
}

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
</div>