<div class="metas-list w-full" [ngClass]="{'hidden': activeContent, 'block': !activeContent}">
    <h2>METAS</h2>
    <p-accordion class="w-full">
        <p-accordionTab *ngFor="let json of jsonFiles; let l=index" header="{{json.meta}}" class="w-full"
            [(selected)]="activeState[l]">
            <div class="content-data w-full" [ngClass]="{'flex flex-1 flex-column md:flex-row gap-3': json.metaPdf}">
                @if(json.metaPdf){
                    <div class="meta-pdf w-full md:w-7 md:h-screen" [ngClass]="{'disabled': l >= 1 && userLogged.role.includes('Testing')}">
                            <app-view-file [indexNro]="l" [pdfUrl]="'https://enoelr87.github.io/course-storage/POS_EDITAL/' + json.metaPdf"></app-view-file>
                            <!--<a class="card text-center w-full my-2 mx-0 px-0 py-3 cursor-pointer hover:text-blue-500 hover:bg-gray-200 hover:text-bold" 
                                [ngClass]="{'disabled': l >= 1 && userLogged.role.includes('Testing')}" target="_blank"
                                href="https://enoelr87.github.io/course-storage/POS_EDITAL/{{json.metaPdf}}">{{json.metaPdf}}</a>-->
                        
                    </div>
                }
                <div class="content-list" [ngClass]="{'w-full': !json.metaPdf, 'w-full md:w-5': json.metaPdf}">
                    <div *ngFor="let content of json.listContent; let i=index" class="list-content" [ngClass]="{'disabled': i >= 1 && userLogged.role.includes('Testing')}">
                        <a class="card w-full my-2 mx-0 px-0 py-3 cursor-pointer hover:text-blue-500 hover:bg-gray-200 hover:text-bold"
                            [ngClass]="{'disabled': i >= 1 && userLogged.role.includes('Testing')}"
                            (click)="showQuestionsList(json.meta, content, l)">{{content}}</a>
                    </div>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<div class="questions-list py-3" [ngClass]="{'hidden': !activeContent, 'block': activeContent}">
    <button pButton type="button" icon="pi pi-arrow-left" label="Atrás" (click)="activeContent = ''"></button>
    <p class="font-bold text-xl ">{{activeMeta}}:</p>
    <p class="font-bold text-lg ">Lista de questões a resolver:</p>
    <p><b>Tema:</b> {{activeContent}}</p>
    <p><a class="card text-center w-full my-2 mx-0 px-0 py-3 cursor-pointer hover:text-blue-500 hover:bg-gray-200 hover:text-bold" target="_blank"
        href="https://enoelr87.github.io/course-storage/POS_EDITAL/{{activeMeta}}/{{activeContent}}/{{activeContent}}.pdf">{{activeContent}} PDF</a></p>
    <div class="card-container">
        <div *ngFor="let question of questionsListFormatted; let i=index" class="question border-1 border-200 border-round p-2 m-2 w-full">
            <div class="question-number font-bold mb-2 text-center">Questão #{{i+1}}</div>
            <div class="question-header flex flex-row justify-content-between p-2">
                <div class="title font-semibold">{{question.title}}</div>
                <div class="subtitle font-semibold">{{question.subtitle}}</div>
            </div>
            <div class="question-body my-3 px-2 w-full">
                <div class="text"  [innerHTML]="question.questionText"></div>
            </div>
            <div class="question-possible-answers">
                <div *ngFor="let option of question.options; let y=index" class="option-value py-2">
                    <div class="option flex justify-content-start gap-2 w-full">
                        <span
                            class="letter uppercase font-semibold text-center flex justify-content-center align-items-center bg-bluegray-100 py-1 px-2">{{consecutiveLetters(y)}}</span>
                        <p-radioButton [inputId]="option.text" name="option-{{i}}" [value]="option"
                            [(ngModel)]="selectedOptions[i]"></p-radioButton>
                        <label [for]="option.text" [innerHTML]="option.text"></label>
                    </div>
                    <div class="comment w-full mt-2 p-2 hidden"
                        [ngClass]="{'correct': option.correct, 'incorrect': !option.correct, 'block': activeQuestion === i && activeOptionQuestion}"
                        [innerHTML]="option.comment ? option.comment : 'Não tem comentário'">
                    </div>
                </div>
            </div>
            <div class="question-solution p-3 my-3 border-dashed border-blue-500 text-blue-500 hidden"
                [ngClass]="{'block': (question.answer_type === 'MULTIPLE_CHOICE' && activeQuestion === i && activeOptionQuestion) || (question.answer_type === 'DISCURSIVE' && activeQuestion === i && discursiveVisible)}" [innerHTML]="question.solution">
            </div>
            <div class="check-validity flex justify-content-center align-items-center gap-2">
                <button *ngIf="question.answer_type === 'MULTIPLE_CHOICE'" pButton type="button"
                    icon="pi {{activeQuestion === i && activeOptionQuestion ? (activeQuestion === i && activeOptionQuestion.correct ? 'pi-check' : 'pi-times') : ''}}"
                    class="p-button-sm {{activeQuestion === i && activeOptionQuestion ? (activeQuestion === i && activeOptionQuestion.correct ? 'p-button-success' : 'p-button-danger') : 'p-button-info'}}"
                    iconPos="left" [label]="textCheckButtons[i]" (click)="checkAnswer(i)"
                    [disabled]="this.selectedOptions[i] == null"></button>
                <button *ngIf="question.answer_type === 'MULTIPLE_CHOICE' && this.selectedOptions[i] != null && question.has_video_solution" pButton type="button" class="p-button-sm" (click)="showVideo(question.solution_video_url)" icon="pi pi-external-link" label="Video"></button>
                <button *ngIf="question.answer_type === 'DISCURSIVE'" pButton type="button"
                    icon="pi pi-check"
                    class="p-button-sm p-button-info"
                    iconPos="left" [label]="textCheckButtons[i]" (click)="viewDiscursiveAnswer(i)">
                </button>
            </div>
        </div>

    </div>
</div>

<p-dialog header="Video" [(visible)]="showVideoQuestion" [modal]="true" [style]="{ width: '660px' }" [draggable]="false" [resizable]="false" (onHide)="resetVideo()">
    <video #videoPlayer class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source src="{{actualVideoUrl}}" type='video/mp4' />
    </video>
</p-dialog>
