<div class="h-full p-2 sm:p-3 lg:p-4">
    <div class="container-fluid h-full">
        <div class="courses-data h-full align-items-center">
            <div class="course-data-1 grid justify-content-center ">
                <p-card header="Curso Revalida" subheader="Revalida exclusive" [style]="{ width: '300px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="/assets/images/curso-revalida-extensivo.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Começar" icon="mdi mdi-eye" [disabled]="!user.courses.includes('1')" (onClick)="goToCourse('theoretical-course')"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="course-data-2 grid justify-content-center ">
                <p-card header="Curso de Prova Prática" subheader="Curso de Prova Prática On-line" [style]="{ width: '300px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="/assets/images/curso-revalida-practico.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Começar" icon="mdi mdi-eye" [disabled]="!user.courses.includes('2')" (onClick)="goToCourse('practical-course')"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="course-data-3 grid justify-content-center ">
                <p-card header="Curso Edital" subheader="Banco de Questões" [style]="{ width: '300px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="/assets/images/curso-revalida-banco-preguntas.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Começar" icon="mdi mdi-eye" [disabled]="!user.courses.includes('3')" (onClick)="goToCourse('questions-course')"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="course-data-4 grid justify-content-center ">
                <p-card header="Curso Pos Edital" subheader="Banco de Questões" [style]="{ width: '300px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="/assets/images/curso-revalida-banco-preguntas.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Começar" icon="mdi mdi-eye" [disabled]="!user.courses.includes('3')" (onClick)="goToCourse('pos-edital-course')"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>